@import 'tailwindcss';

@theme {
  --color-primary: #1c76d5;
  --shadow-primary: 0 4px 8px 4px #E0E4E559;
}

html,
body,
#root {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.semibold {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
}

.lightbold {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
}

.regular-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: #686868;
}

.regular-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.14px;
}
